body, html {
    height: 100%;
    margin: 0;
}
  
.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.key {
    border: .2rem solid #fff;
    border-radius: .5rem;
    margin: .2rem;
    font-size: 3vw;
    text-transform: uppercase;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    background-color: transparent;
    font-size: 4vw;
}

.row {
    padding-right: 1rem;
    margin-right: 0;
}

@media only screen and (min-width: 576px) {
    .key {
        font-size: 1vw;
    }
    kbd {
        font-size: 2vw;
    }
}